# Папки скриптов хостинга
sys-php-cgi

# Папки гита
.idea

# Папки ядра
wp-includes
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Служебные файлы CMS
sitemap*
Bible/config_db_bible.php
Bible/config_db_interpretations.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
/wp-content/plugins/
